{% extends "bootstrap/base.html" %}

{% import "bootstrap/google.html" as google %}

{% block title %}Tell Me To {% block subtitle %}{% endblock %}{% endblock %}
{% block scripts %}
{{ super() }}
{{ google.analytics(account="UA-546350-3") }}
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
    {% block main %}
    {% endblock %}
  </div>
  <div class="row col-sm-10 col-sm-offset-1">
      {% block footer %}
          <div class="footer">
      <p class="text-center small">This momentary distraction brought to you by <a href="http://www.nathanblack.com/">Nathan Black</a> - <a href="http://www.twitter.com/nathanblack">@NathanBlack</a></p>
          </div>
      {% endblock %}
    </div>
  </div>
</div>
{% endblock %}
