{% extends "base.html" %}
{% block subtitle %}{{ directive|title }}{% endblock %}
{% block main%}
<div class="tell-me-to">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">

      <div class="page-header">
        <h3 class="text-center">Hey{% if name %} {{ name|title }}{% endif %},</h3>
      </div>
      <div class="well">
        {% if directive %}
        <h1 class="text-center">You should {{ directive }}</h1>
        {% else %}
        <h3>To use this:</h3>
        <p>Enter up to ten words in the URL separated by slashes.</p>
        <p>If you want to you can put /name/somebody at the end and it will dedicate the demand to them.</p>
        {% endif %}
      </div>
      
      <p class="text-center"> <a href="https://twitter.com/share" class="btn-default twitter-share-button" data-url="" data-text="{% if directive %}You should {{ directive }}{% if name %}, @{{ name|title }}{% endif %}.{% else %}You should tell someone to do something.{% endif %}" data-size="large" data-related="nathanblack" data-count="none" data-hashtags="TellMeTo" data-dnt="true">Tweet This!</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></p>

    </div>
  </div>
</div>

{% endblock %}